
{{>layouts/header}}
<title>고객센터</title>
<link rel="stylesheet" href="/css/center.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script defer src="/js/center.js"></script>

<div class="container mt-5 service-center">
    <h1 class="text-center mb-4 title">고객센터</h1>
    <!-- 구분선 -->
    <hr class="divider">

    <div class="section">

    <div class="section1" onclick="checkLogin()">
        <div class="icon">
            <img src="/images/oneonone.png" alt="1:1문의 아이콘">
        </div>
        <h2>1:1문의</h2>
        <p>회원 여러분에게 답변해 드립니다.</p>
        <button class="btn" onclick="checkLogin()">1:1문의 ></button>
    </div>

    <div class="section2" onclick=location.href="/nestco/noticeboard">
        <div class="icon">
            <img src="/images/notice.png" alt="공지사항 아이콘">
        </div>
        <h2>공지사항</h2>
        <p>회원 여러분에게 알려드립니다.</p>
        <button class="btn" onclick=location.href="/nestco/noticeboard">공지사항 ></button>
    </div>

    <div class="section3" onclick="checkEvent()">
        <div class="icon">
            <img src="/images/event.png" alt="이벤트 아이콘">
        </div>
        <h2>이벤트</h2>
        <p>회원 여러분에게 드립니다.</p>
        <button class="btn" onclick="checkEvent()">이벤트 ></button>
    </div>
</div>

   <br>

    <!-- 구분선 -->
    <hr class="divider">

    <div class="text-center links">
        <span class="vertical-divider"></span>
        <span class="link" onclick="checkLogin()" >1:1문의</span>
        <span class="vertical-divider"></span>
        <span class="link" onclick=location.href="/nestco/noticeboard" >공지사항</span>
        <span class="vertical-divider"></span>
        <span class="link" onclick="checkEvent()" >이벤트</span>
        <span class="vertical-divider"></span>
    </div>

<br>
<br>
<br>
</div>

{{>layouts/footer}}
