<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이 페이지 입니다</title>
</head>
<body>
    <h1>로그인에 성공한 사람만이 들어올 수 있는 마이페이지 입니다...</h1>
</body>
</html>