<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아이디 페이지</title>
    <link rel="stylesheet" href="/css/showId.css">
</head>
<body>
<main>
    <div class="container">
        <img class="nestCo" src="/images/nestCo.png" alt="NestCo">
        <p>등록하신 아이디는 {{userId}} 입니다.</p>
        <button class="btn"><a href="/loginForm">로그인 창으로 돌아가기</a></button>
    </div>
</main>
</body>
</html>