<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/sms.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script defer src="/js/sms.js"></script>
</head>
<body>
<main>
    <div class="container">
        <img src="/images/nestCo.png" alt="" class="nestCo">
        <h1>아이디 찾기</h1>
        <div class="search-box">
            <div>
                <input class="first" id="phoneNumber" type="number" name="phoneNum" placeholder="휴대폰 번호 입력">
            </div>
            <button class="first-button" id="transmit-number">인증번호 전송</button>
            <div>
                <input class="second" id="number" type="number" placeholder="인증번호 입력">
            </div>
            <button class="second-button" id="check-number">인증번호 확인</button>
        </div>
    </div>
</main>
</body>
</html>