<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소셜 회원가입 페이지</title>
    <link rel="stylesheet" href="/css/socialJoinForm.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/socialJoinForm.js"></script>
</head>
<body>
<main>
    <div class="container">
        <h1>소셜 추가정보 입력</h1>
        <div class="join-box">
            <form action="/join/social" method="post">
                <div class="first-join">
                    <input type="hidden" name="provider" placeholder="소셜 종류" value="{{provider}}" required>
                </div>
                <div class="second-join">
                    <input type="email" name="userId" placeholder="이메일" value="{{email}}" required>
                </div>
                <div class="third-join">
                    <input type="text" name="username" placeholder="이 름" value="{{username}}" required>
                </div>
                <div class="fourth-join">
                    <input type="text" name="nickname" placeholder="닉네임" required>
                </div>
                <div class="fiveth-join">
                    <input type="number" name="phoneNumber" placeholder="휴대폰 번호 입력" required>
                </div>
                <div class="sixth-join">
                    <input type="number" id="sample6_postcode" name="postalAddress" placeholder="우편번호" required>
                    <span><button onclick="sample6_execDaumPostcode()">검색</button></span>
                </div>
                <div class="seventh-join">
                    <input type="text" id="sample6_address" name="address" placeholder="주소" required>
                </div>
                <div class="eighth-join">
                    <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                </div>
                <div class="nineth-join">
                    <input type="text" id="sample6_detailAddress" name="detailedAddress" placeholder="상세주소" required>
                </div>
                <button class="join-button" type="submit">추가정보 입력</button>
            </form>
            <img class="squirrel" src="/images/squirrel.png" alt="다람쥐">
        </div>
    </div>
</main>
</body>
</html>