
body {
    background-color: #4A2C2A; /* 배경 색상 설정 */
    color: #EFE7DA; /* 글씨 색상 설정 */
    font-family: 'Arial', sans-serif; /* 기본 글꼴 설정 */



}

h1 {
    margin-bottom: 20px; /* 제목과 다른 요소 간의 간격 설정 */
}

.event-image {
    max-width: 500px ;
    height: auto; /* 이미지 비율 유지 */
    border: 5px solid #4C7263;; /* 이미지 테두리 색상 설정 */
    border-radius: 10px; /* 이미지 모서리 둥글게 설정 */
}

.btn-primary {
    background-color: #4C7263; /* 버튼 배경 색상 설정 */
    border-color: #4C7263; /* 버튼 테두리 색상 설정 */
}

.btn-primary:hover {
    background-color: #3B5C54; /* 버튼 호버 시 배경 색상 설정 */
    border-color: #3B5C54; /* 버튼 호버 시 테두리 색상 설정 */
}

/* 구분선 스타일 */
.divider {
  border: 1px solid #EFE7DA; /* #EFE7DA의 1픽셀 두께의 경계선으로 구분선 설정 */
  margin-bottom: 30px; /* 구분선 아래에 마진을 추가하여 요소 간 간격 조정 */
}

/* introduce 스타일 추가 */
.introduce {
    text-align: center; /* 글씨 중앙 정렬 */
}

