<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>공지사항 관리</title>
</head>
<body>

{{> admin/adminHeader}}
<br><br>
<h1>공지사항 관리</h1>
<form action="/admin/notices" method="GET" class="input-group mt-3 mb-3">
    <input type="text" name="searchKey" class="form-control" value="{{#searchKey}}{{searchKey}}{{/searchKey}}" placeholder="검색어를 입력하세요..." aria-label="검색어 입력" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
</form>
<table class="table">
    <thead>
    <button onclick="noticeAdd()" class="btn btn-success">등록</button>
    <tr>
        <th>게시글 ID</th>
        <th>제목</th>
        <th>작성자 정보</th>
        <th>작성일</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody>
    {{#notices}}
        <tr>
            <td>{{ id }}</td>
            <td>{{ title }}</td>
            <td><a href="/admin/users/{{ uploader.username }}" class="btn btn-info btn-sm">{{uploader.username}}</a></td>
            <td>{{ createDate }}</td>
            <td>
                <form action="/admin/notices/delete/{{ id }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                </form>
            </td>
        </tr>
    {{/notices}}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{#hasPrev}}
            <li class="page-item">
                <a class="page-link" href="/admin/notices?page={{firstPage}}{{#searchKey}}&searchKey={{searchKey}}{{/searchKey}}" aria-label="Previous">
                <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
        {{/hasPrev}}
        {{#hasPrev}}
            <li class="page-item">
                <a class="page-link" href="/admin/notices?page={{prev}}{{#searchKey}}&searchKey={{searchKey}}{{/searchKey}}" aria-label="Next">
                <span aria-hidden="true">&lt;</span>
                </a>
            </li>
        {{/hasPrev}}
        {{#pageNumbers}}
            <li class="page-item"><a class="page-link" href="/admin/notices?page={{.}}{{#searchKey}}&searchKey={{searchKey}}{{/searchKey}}">{{.}}</a></li>
        {{/pageNumbers}}
        {{#hasNext}}
            <li class="page-item">
                <a class="page-link" href="/admin/notices?page={{next}}{{#searchKey}}&searchKey={{searchKey}}{{/searchKey}}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        {{/hasNext}}
        {{#hasNext}}
            <li class="page-item">
                <a class="page-link" href="/admin/notices?page={{lastPage}}{{#searchKey}}&searchKey={{searchKey}}{{/searchKey}}" aria-label="Next">
                <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        {{/hasNext}}
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function noticeAdd() {
        location.href='/admin/notices/create';
    }
</script>
</body>
</html>
